.front-page {
  position: relative;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    z-index: 10;

    h1 {
      font-size: 100pt;
      font-family: 'Bodoni Moda', serif;
      color: $text-primary-color;
      margin: 0;
      line-height: 8rem;
    }

  }

  .pictures {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -10;
    margin-bottom: 3rem;
    
    .main-pic {
      height: 100px;
      width: 100px;
      background-color: white;
      margin: 1rem 0;

      &.one {
        margin-top: -50px;
        width: 700px;
        height: 400px;
      }

      &.two {
        width: 450px;
        height: 600px;
      }

      &.three {
        width: 300px;
        height: 300px;
      }
    }

  }

  .subtext {
    display: flex;
    justify-content: center;

    h3 {
      width: 32%;
      max-width: 400px;
      text-align: center;
      font-size: 32pt;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: $text-primary-color;
      margin: 1rem 0;
    }
  }

  .socials {
    font-size: 36pt;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    i {
      margin: 10px 15px;
      color: $text-primary-color;
    }
  }


}

.static-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;

  .static-images {
    width: 1920px;
    position: relative;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    background-color: rgba(0, 255, 255, 0.137);
  
    .static-image {
      position: absolute;
      background-color: white;
  
      &.one {
        top: 0;
        left: 75px;
        height: 300px;
        width: 450px;
      }
  
      &.two {
        top: 800px;
        left: 0;
        height: 275px;
        width: 275px;
      }
  
      &.three {
        top: 1400px;
        left: 140px;
        height: 275px;
        width: 275px;
      }
  
      &.four {
        top: 2000px;
        left: 180px;
        height: 225px;
        width: 300px;
      }
  
      &.five {
        top: 40px;
        right: 160px;
        height: 375px;
        width: 300px;
      }
  
      &.six {
        top: 650px;
        right: 0;
        height: 315px;
        width: 270px;
      }
  
      &.seven {
        top: 1100px;
        right: 30px;
        height: 575px;
        width: 350px;
      }
  
      &.eight {
        top: 2100px;
        right: 65px;
        height: 225px;
        width: 450px;
      }

    }
  }
}
