header {

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    li {
      list-style-type: none;
      margin: 0.5rem 0;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      color: $text-primary-color;
      font-size: 16pt;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}