.gallery-page {

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    z-index: 10;

    h1 {
      font-size: 100pt;
      font-family: 'Bodoni Moda', serif;
      color: $text-primary-color;
      margin: 0;
      line-height: 8rem;
    }

  }

  .gallery {
    margin: 2rem auto;
    max-width: 720px;

    .gallery-nav-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .gallery-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 96%;
  
        .gallery-cat-button {
          background-color: white;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          margin: 0 0.2rem;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          text-transform: lowercase;
          font-size: 0.9rem;
  
  
          &[active] {
            background-color: $text-secondary-color;
            color: #fff
          }
        }
  
      }

      .more-arrow {
        cursor: pointer;
        color: $text-secondary-color;
      }

    }

    .gallery-body {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      margin-top: 1rem;

      .post {
        height: 200px;
        width: 31%;
        background-color: white;
        margin: 0.52rem;
        overflow: hidden;
        cursor: pointer;
        transition: transform ease 0.5s;

        &:hover {
          transform: scale(1.05);
        }

        img{
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }

    }

  }

}