.post-page {

  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 100%;
  max-width: 900px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  h1 {
    font-size: 3rem;
  }

  small {
    font-size: 0.85rem;
  }

  p {
    margin: 2rem auto;
    max-width: 80%;
  }

  img {
    max-width: 100%;
    max-height: 90vh
  }

}