.error-page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 15vh 0;

  h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
  }

  img {
    max-width: 300px;
  }

  a {
    text-decoration: none;

    .back-homepage {
      color: $accent-blue;
    }
  }
}