.error-page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vh 0 15vh 0;

  h1 {
    font-size: clamp(1.5rem, 5vw, 2rem);
  }

  img {
    max-width: 300px;
  }

  a {
    text-decoration: none;

    .back-homepage {
      background-color: $accent-blue;
      margin: 2rem 0 0 0;
      padding: 1rem 2rem;
      border-radius: 50px;
      color: $white;
    }
  }
}