.page-about {
  overflow: hidden;

  .top-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;

    .image {
      flex-shrink: 1;
      overflow: hidden;
    }

    .right {
      width: 250px;
      min-width: 235px;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      
      h1 {
        margin-left: -220px;
        background-color: $background-white;
        font-size: 2.3rem;
        padding: 2rem 2.2rem;
      }

      p {
        padding: 1rem 0 1rem 2rem;
        margin: 0.5rem 0 0 0;
        color: $dark-grey;
      }

      a {
        margin: 1rem 0;
        color: $black;
        
        .work-button {
          display: inline-block;
          border: 2px solid $dark-grey;
          border-radius: 50px;
          cursor: pointer;
          padding: 0.9rem 2rem;
          transition: all 0.2s ease-in-out;
          transition-property: background-color, border, color;
  
          &:hover {
            background-color: $accent-blue;
            border-color: $accent-blue;
            color: $white;
          }

          i {
            margin: 0 0 0 3px;
          }
        }

      }

    }

    
  }

  .main-area {
    width: 90%;
    max-width: 800px;
    margin: 20vh auto;
    display: flex;
    flex-direction: column;

    .point {
      width: 100%;
      margin: 0 0 10rem 0;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      $image-spacing: 0;

      img {
        max-height: 250px;
        max-width: 50vw;
        margin-right: $image-spacing;
      }

      .spacer {
        flex-grow: 1;
        max-width: 20rem;
        min-width: 1rem;
        height: 100%;
      }

      div {
        h3 {
          margin-bottom: 0.75rem;
        }

        p {
          max-width: 20rem;
          font-size: 0.9rem;
        }
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        text-align: end;
        
        img {
          margin-right: 0;
          margin-left: $image-spacing;
        }
      }
    }
  }
  
  @media all and (max-width: 768px) {
    .top-area{ 
      flex-wrap: wrap;

      .right{
        width: 90%;

        h1 {
          margin: 0;
          padding: 1rem;
        }

        p {
          padding: 0 20% 0 0;
          margin: 0.5rem 1rem;
        }
      }
    }

    .main-area {
      margin: 10vh auto;
    }
  }

}