.contact-page{
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  // padding: 10vh 0 0 0;
  margin: 0 0 15vh 0;

  i {
    font-size: 5rem;
  }

  p {
    width: 80%;
    min-width: 300px;
    max-width: 450px;
    font-size: 1.1rem;
    margin: 1rem 0 0 0;
  }

  h1 {
    margin: 3rem 0 0 0;
    font-size: clamp(1.25rem, 5vw, 3.5rem);
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: color ease-in-out 0.3s;

    &:hover {
      color: $accent-blue;
    }

    i {
      font-size: 1.2em;
    }
  }

  small {
    font-size: 0.8rem;
    color: $dark-grey;
  }

  .socials {
    margin-top: 4rem;

    p {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
        
    a {
      color: $black;
      text-decoration: none;
      
      i {
        font-size: 3rem;
        margin: 0 0.6rem;
        transition: color 0.3s ease-in-out;
        
        &.fa-instagram:hover {
          color: $insta-purp;
        }
        
        &.fa-linkedin-in:hover {
          color: $linkedin-blue;
        }
      }

    }
  }

}